* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.container {
    position: relative;
    display: inline-block;
}

.healthAndTimerBar {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.timer {
    height: 50px;
    width: 100px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    background-color: #44403C;
    color: #FAFAF9;
    border: 4px solid #FAFAF9;
}

.player {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
    border-top: 4px solid #FAFAF9;
    border-left: 4px solid #FAFAF9;
    border-bottom: 4px solid #FAFAF9;
    border-radius: 5px 0px 0px 5px;
}

.enemy {
    display: flex;
    position: relative;
    height: 30px;
    width: 100%;
    border-top: 4px solid #FAFAF9;
    border-right: 4px solid #FAFAF9;
    border-bottom: 4px solid #FAFAF9;
    border-radius: 0px 5px 5px 0px;
}

.enemy-health {
    width: 100%;
}

.player-health {
    width: 100%;
}

.playerBar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.enemyBar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.health-color {
    background-color: #DC2626;
}

.bar-color {
    background: #818CF8;
}

.tie {
    position: absolute;
    display: none;
    place-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #FAFAF9;
}